.blocks-gallery-item {

    img {  
        box-shadow: -1px 0px 19px -1px rgba(0,0,0,0.29);
    }
  
  }
  
  .gallery-link {
      height: 20rem;
      position: relative;
      margin-bottom: 2rem;
      box-shadow: 0px 5px 50px -20px rgba(0,0,0,0.75);
  
      &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: black;
          opacity: .1;
      }
  
      a {
          height: 100%;
          width: 100%;
          object-fit: cover;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
  
          img {
              height: 100%;
              width: 100%;
              object-fit: cover;
          }
      }
  
      figcaption {
          background: linear-gradient(90deg, rgba(168,136,85,1) 0%, rgba(64,53,53,0.01724439775910369) 82%);
          color: white;
          font-family:'Taviraj';
          font-size: 3rem;
          padding: 3rem 2rem;
          padding-right: 10rem;
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 90%;
          pointer-events: none;
      }
  }

  .page-gallery-container {
      display: flex;
      flex-direction: column;

      .wp-block-image {
          width: 100%;
          max-width: 30rem;
      }
  }

  @media(min-width: 991px) {
      .page-gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;

        .wp-block-image {
            width: 100%;
            max-width: unset;
        }
      }
  }